/*layout*/

*{
    margin: 0;
    padding: 0;
}
.main{
    width: 80%;
}

body{
    background: #F1F1F1;
}
.main{
    background: #FFFFFF;
}

/*generic*/

.row, .col, .container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}
.flex{
    display: flex;
}
#files ul, #discussion ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/*navbar*/

.navbar{
    background: #5F5F5F;

}
.navbar-light .navbar-nav .nav-link{
    color: #90C786;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler{
    color: #90C786;
}

/*header*/

h1{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
h4{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.edit{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}
.edit>a{
    color: #1c1c1c;
}
.header{
    justify-content:space-between;
    background-color: #90C786;
    margin-top: 30px;
    margin-bottom: 30px;
}
#first-header{
    margin-top: 0;
}

/*Infos*/


#map{
    padding-right: 75px;
}
.field-group{
    padding-right:150px;
}
.field{
    font-weight: bold;
    text-decoration: underline;
}
.value{
    font-weight: bold;
}

/*Files*/

/*.arm-file, .protocole, .images{
    border: 1px solid black;
}*/

#files li{
    margin-right:150px;
}
.photos img{
    width: 140px;
    height: 140px;
}


/*input[type="file"] {
    display: none;
}
.test{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}*/

/*.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus label,
.inputfile label:hover {
    background-color: red;
}*/


/*Discussion*/

#with-technicians{
    border-right: 2px solid #5F5F5F;
}

